$fontColors: (
  "pry": rgb(238, 205, 20),
  "sec": rgb(141, 202, 141),
  "light": rgb(241, 241, 241),
  "dark": rgb(6, 5, 27),
);

@function color($color) {
  @return map-get($fontColors, $color);
}

@mixin flexCenter($direction, $width: 100%) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  width: $width;
}
