@import "../../source/_variables";

.edit {
  height: 100%;
  padding: 10px;
  min-width: 400px;
  border-left: 3px double green;
  @include flexCenter(column, initial);
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  gap: 20px;

  & > div {
    @include flexCenter(row);
    justify-content: space-between;
    align-items: flex-end;
  }
}
