@import "../../source/_variables";

.notes {
  height: 100%;
  width: 421px;
  overflow-y: auto;
  -ms-overflow-style: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  & > div {
    padding: 0 5px;
    @include flexCenter(row, initial);
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    & > main {
      background-color: darken($color: color(light), $amount: 10);
      border-radius: 5px;
      width: 200px;
      height: 85px;
      cursor: pointer;
      padding: 5px;
      & > p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: left;
        font-size: 0.9em;
        font-weight: 700;
      }
      & > p:last-child {
        -webkit-line-clamp: 3;
        font-weight: 100;
        line-height: 1.2em;
      }
    }
    & > main:hover {
      background-color: darken($color: color(light), $amount: 70);
      color: color(light);
    }
    & > .active {
      border-bottom: 5px solid color(sec);
    }
  }
}

.notes::-webkit-scrollbar {
  display: none;
}
